@import "tailwindcss";


* {
    box-sizing: border-box;
}
.custom-slider .ant-slider-track {
    background: linear-gradient(to right, #0E9EEF, #EE10B0) !important;
}

.custom-slider .ant-slider-handle {
    display: none;
}

.custom-slider:hover .ant-slider-handle {
    display: block !important;
}

.custom-slider .ant-slider-handle::after {
    background-color: #ee10b0 !important;
}

.custom-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 0 2.5px rgba(238, 16, 176, 0.3) !important;
}

.custom-table-row-selected {
    background-color: #353535 !important;
    color: #fff !important;
}

.custom-table-row-selected:hover .ant-table-cell-fix-left,
.custom-table-row-selected:hover .ant-table-cell-fix-right,
.custom-table-row-selected:hover .ant-table-column-sort {
    background-color: #2A2A2A !important;
}

.custom-table-row-selected .ant-table-cell-fix-left,
.custom-table-row-selected .ant-table-cell-fix-right,
.custom-table-row-selected .ant-table-column-sort {
    background-color: #353535 !important;
    color: #fff !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

